<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Disney.IntakeForm" closeTimeout="00:25:00"
                    openTimeout="00:20:00" receiveTimeout="00:10:00" sendTimeout="00:25:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:8733/SNOWReporting/service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Disney.IntakeForm"
                contract="ServiceNowReporting.DisneyIntakeForm" name="BasicHttpBinding_Disney.IntakeForm" />-->
          <endpoint address="http://datgbr-papw173.swna.wdpr.disney.com:8733/DATG.SN.ReportingConnector/SNOWReportingConnector/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Disney.IntakeForm"
                contract="ServiceNowReporting.DisneyIntakeForm" name="BasicHttpBinding_Disney.IntakeForm" />
        </client>
    </system.serviceModel>
</configuration>